.color-1 {
  color: $color1;
}

.color-2 {
  color: $color2;
}

.color-3 {
  color: $color3;
}

.color-4 {
  color: $color4;
}

.color-5 {
  color: $color5;
}

.bg-color-1 {
  background-color: $color1;
}

.bg-color-2 {
  background-color: $color2;
}

.bg-color-3 {
  background-color: $color3;
}

.bg-color-4 {
  background-color: $color4;
}

.bg-color-5 {
  background-color: $color5;
}