$arenaImg: '/src/assets/images/arena.png';
$cardImg: '/src/assets/images/card.svg';

@mixin bgImg($url) {
  background-image: url($url);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  position: relative;
  @include bgImg($arenaImg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  .logo {
    z-index: 2;
  }
}

.outer-card {
  position: relative;
  transition: all .2s ease-out;
  transform: scale(1);
  cursor: pointer;
  resize: both;
  &:active {
    cursor: grabbing;
  }
  &::before {
    content: '';
    position: absolute;
    opacity: 1;
    width: 286px;
    height: 395px;
    @include bgImg($cardImg);
    top: 0; left: 0;
    transition: all .3s ease-out;
    transform: translate(-11%, -7%) scale(1.04);
    filter: brightness(2) sepia(2) hue-rotate(180deg) saturate(4) blur(7px);
  }
  &:hover, &:active { &::before { opacity: 1; } }
}

.card {
  content: '';
  position: absolute;
  width: 286px;
  height: 395px;
  flex-shrink: 0;
  @include bgImg($cardImg);
  transform: translate(-32px, -27px);
  z-index: 1;
}

.inner-card {
  position: absolute;
  width: 230px;
  top: -13px;
  left: 0;
  content: '';
  height: 220px;
  border-radius: 33em;
  backdrop-filter: grayscale(2);
}